nav { 
    display: flex;
    background-color: black;
    color: white;
}
ul, li {
    text-decoration: none;
    float: right;
    display: inline;
    
}
.bigNav {
    float: left;
}

.lilNav {
    float: right;
}